header{
    h1{
        color: var(--primary-color);
        font-size: 24px;
        margin-bottom: 14px;
        font-weight: 700;
    }
    
    p{
        font-size: 14px;
        color: var(--text-primary);
    }

}


button{
    background-color: var(--primary-color);
}

