<main class="flex flex-col justify-between h-full py-8 px-0 items-center">
    <header class="text-center max-w-64">
        <h1 >Seu assistente chegou</h1>
        <p>
            Aqui você consegue tirar todas as
            suas dúvidas e aprender mais
            sobre o Museu do Doce de Pelotas!
        </p>
    </header>
    <img src="../../../assets/museu.png" alt="">
    <button (click)="openChat()" class="w-[90%] text-white text-xl border-none rounded-3xl p-3 flex justify-center items-center gap-2">
        Vamos conversar?
        <app-arrow-right></app-arrow-right>
    </button>
</main>